<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3 class="announcement-subject page-title"><%= @announcement.subject %></h1>
		<h3 class="announcement-section">Need to Know</h3>
		<p class="announcement-text"><%=raw @announcement.needToKnow %></p>
		<h3 class="announcement-section">Full Message</h3>
		<p class="announcement-text"><%=raw @announcement.extra %></p>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<hr>
		<% if @attachment != nil %>
			<%= link_to 'Attachment', @attachment, :class => "no-link-bg" %>
		<% end %>
		<% if @announcement.priority == 1 %>
			<h5 class="card-priority-high">High Priority</h5>
		<% else %>
			<h5 class="card-priority-low">Low Priority</h5>
		<% end %>
		<% if @anouncement_categories %>
		<div class="tag-holder">
			<img src='/tag.png' height="20px" width="20px">
			<span class="tags"><%= @announcement_categories %></span>
		</div>
		<% end %>
		<p>
		  Posted <%= @announcement.created_at.strftime("%d/%m/%y") %>
		  <% if @announcement.author %>
		  by <%= @announcement.author %>
		  <% end %>
		</p>
	</div>
</div>
