<!DOCTYPE html>
<html>
	<head>
		<title>Nursing@Penn - Send announcement</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
	</head>
	<body>
		<div class="container">
			<%= yield %>
		<div>

		<%= yield :page_specific_javascript %>
	</body>
</html>